body{background: #E7E7E7;
    position: relative;
	padding-left:100px;
	padding-right:100px;
	margin-top: 10px;
}

ul{
margin-top: 10px;
display: inline;
margin-right: 57px;
font-family: Roboto;
font-size: 11px;
font-weight: 700;
line-height: 12.89px;
text-align: left;
}
li{
	margin-top: 10px;
display: inline;
margin-right: 57px;
font-family: Roboto;
font-size: 11px;
font-weight: 700;
line-height: 12.89px;
text-align: left;

}
.icon{
	vertical-align: middle;

}
h1{
font-family: Roboto;
font-size: 24px;
font-weight: 700;
line-height: 28.13px;
text-align: left;
margin-top: 50px;
}

div.first{
	width: 370px;
	height: 370px;
	display:inline-grid;
margin-right: 30px;

}
.first {
	margin-top:20px ;
position: relative;

}
.first p{
position: absolute;
top: 40px;
left: 30px;
font-family: Roboto;
font-size: 20px;
font-weight: 700;
color: #FFFFFF;

}

.firstrec p{
color: #8A8787;
font-family: Roboto;
font-size: 10px;
font-weight: 700;
margin-top: 210px;
left: 50px;
}
#text {
margin-top: 240px;	
}
#time{
margin-top: 260px;	
left: 100px;
}
#rec{
	position: relative;
}





/* second */

div.second{
	width: 370px;
	height: 370px;
	display:inline-grid;

margin-right: 30px;
}
.second {
	margin-top:20px ;
position: relative;
margin-right: 50px;
}
.second p{
position: absolute;
top: 40px;
left: 30px;
font-family: Roboto;
font-size: 20px;
font-weight: 700;
color: #FFFFFF;

}

.secondrec p{
color: #8A8787;
font-family: Roboto;
font-size: 10px;
font-weight: 700;
margin-top: 210px;
left: 50px;
}
#textt {
margin-top: 240px;	
}
#timet{
margin-top: 260px;	
left: 100px;
}
#rect{
	position: relative;
}



/*third*/

div.third{
	width: 370px;
	height: 370px;
	display:inline-grid;


}
.third {
	margin-top:20px ;
position: relative;

}
.third p{
position: absolute;
top: 40px;
left: 30px;
font-family: Roboto;
font-size: 20px;
font-weight: 700;
color: #FFFFFF;

}

.thirdrec p{
color: #8A8787;
font-family: Roboto;
font-size: 10px;
font-weight: 700;
margin-top: 210px;
left: 50px;
}
#texttt {
margin-top: 240px;	
}
#timett{
margin-top: 260px;	
left: 100px;
}
#rectt{
	position: relative;
}

h2{
	font-family: Roboto;
font-size: 24px;
font-weight: 800;
line-height: 28.13px;
text-align: left;
 margin-top: 100px;
}

.boxone{ display: inline-grid;
	margin-top: 50px;
	width: 758px;
	height: 1000px;
}
.photoone{
	position: relative;
}

.photoone p{
	
	position: absolute;
	top:200px;
	left:260px;
	font-size: 24px;
	font-family: Roboto;
	color: white;

}
#twoo{
	margin-top: 50px;
}

.groupthree
{ display: inline-grid;
	width: 362px;
	height: 800px;
	margin-left: 50px;
	padding-top: 20px;
vertical-align: middle;
}
footer{
	width: 100%;
	height: 200px;
	 background: #243043;
	position: absolute;
	padding: 0;
	margin: 0;

}
.div1{
		position: absolute;
	height: 200px;
	width: 500px;
display: inline flex;
flex-direction: row;
justify-content: center;
justify-content: space-between;
 margin-top: 60px;
 margin-left:100px;
}
.list{
column-gap: 40px;
color: #818687;
;
}
dd{
	margin-bottom: 15px;
	color: #818687;
}
span{
	margin-left: 400px;
}
.wtf {
display: inline-grid;
margin-top: 30px;
 margin-left: 330px;
 color: #ffffff;
}
.lol{
	display: inline-grid;
	margin-left: 300px;
	margin-top: 40px;
 }
